<h1 class="display-4 text-center mt-5">Main page of Admin</h1>
 
<div class="sidebar">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link active" asp-controller="Admin" asp-action="List">User List</a>
        </li>
    </ul>
</div>

