@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Wellcome to the main page of Hospital</h1>
    <hr />
    
    <img src="~/icons/hospital2.jpg" />
</div>
