@{
    ViewData["Title"] = "Hospital Inforamtion";
}
<h1>@ViewData["Title"]</h1>

<div>
    <strong>New Health Hospital: A Beacon of Hope and Advanced Medical Care</strong>

   <p>The new "Health Hospital" has opened its doors in the heart of the city, 
       offering top-notch health services and revolutionary technology for patient care. 
       With modern facilities and experienced medical staff, "Health Hospital" has
        become a benchmark for healthcare in the area.</p>


	<strong>Modern Facilities</strong>

    <p>The facilities at "Health Hospital" are designed with the comfort and safety of patients in mind.
    The rooms are spacious and equipped with the latest technology, while the common areas
		provide a calm environment for visitors.</p>

    
	<strong>Advanced Medical Technology</strong>

    <p>"Health Hospital" is equipped with the most advanced medical devices and equipment, 
    ensuring the best possible diagnosis and treatment. From laboratories to operating rooms, 
    cutting-edge technology supports the work of our specialized doctors.</p>

    
	<strong>Specialized Medical Staff</strong>

    <p>The team of doctors and nursing staff at "Health Hospital" are among the most 
    experienced and well-trained in the field. They are continuously trained and updated
    on the latest developments in medical science, providing high-level care and support.</p>

    
	<strong>Specialties and Services</strong>

    <p>"Health Hospital" offers a wide range of medical services, including:</p>

    <ul>
        <li>Cardiology</li>
		<li>Oncology</li>
		<li>Pediatrics</li>
		<li>Orthopedics</li>
		<li>General Surgery</li>
    </ul>
    
    <p>These specialties are supported by specialized medical laboratories and rehabilitation centers,
	offering comprehensive care to patients.</p>

    <strong>Patient-Centered Approach</strong>

    <p>The philosophy of "Health Hospital" is patient-centered, with an emphasis on a humane
    approach and continuous improvement of services. Our goal is to offer not only medical care
		but also psychological support to every patient and their family.</p>

    <p>The new "Health Hospital" is ready to provide its services to the
    city's residents and make a significant contribution to improving their health
    and quality of life. We are proud of our commitment to innovation and excellence in healthcare.</p>
</div>
